

* {
    
    box-sizing:(border-box);
  }
  

body {
    background-color:rgb(228, 157, 228);
    display:flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    margin:0;
}

.container{
    background-color:#fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(0,0,0,0.3);
    overflow: hidden;
    width:400px;
    max-width: 100%;
    
}
.header{
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding:20px 40px;
   
}
.header h2{
    margin:0;  
}

.form{
    padding: 30px 40px;
}
.form-control{
    margin-bottom:20px;
    margin-right: 40px;
    padding-bottom: 20px; 
    position:relative;
}
.form-control label{
    position:absolute;
    left:240px;
    bottom:20px;
    color:red;   
}
.form-control input{
    border:2px solid #f0f0f0;
    display: block;
    border-radius: 3px;
    font-family: inherit;
    font-size: 14px;
    padding:10px;
    width:70%;
    
}
/*for image*/
.providerImg {
    max-width: 48px;
    max-height: 48px;
}
#provider{
    position:absolute;
    left:240px;
    bottom:20px;
}


.form button{
    
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    color:rgb(196, 52, 196);
    width: 50%;
    margin-top: 10px;
  }

/*Second Page OTP Number*/
.container1{
    background-color:#fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(0,0,0,0.3);
    overflow: hidden;
    width:300px;
    max-width: 100%;
    margin-top:100px;
    margin-left: 100px;
}
.form1{
    padding: 30px 40px; 
    
}

.form-otp{
    margin-bottom:40px;
    margin-right: 40px;
    padding-bottom: 20px; 
    position:relative;
}
#redirect{
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    color:rgb(196, 52, 196); 
}
#otpnum{
    margin-bottom:20px;
    margin-right: 40px;
    padding-bottom: 20px; 
    position:relative; 
    
}
